<div class="modal" id="manageModal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h3>Add a new template</h3>
    <input type="text" name="template-name" placeholder="Template name">
    <br>
    <input type="text" name="template-greeting" placeholder="Greeting">
    <br>
    <input type="text" name="template-opening" placeholder="Opening">
    <br>
    <textarea name="template-body" rows="8" cols="80"></textarea>
    <br>
    <input type="text" name="template-closing" placeholder="Closing">
    <p>Some text in the Modal..</p>
  </div>
</div>

<button id="openModal">Open</button>
<button id="submitModal">Submit</button>
<button id="learnMore">Learn more</button>
<button id="signUp">Sign up</button>