<li class="template">

  <h3>
    <%= queryResult[k].name %>
  </h3>
  <div class="buttons">
    <button type="button" name="button">Edit</button>
    <button type="button" name="button">Delete</button>
  </div>
  <h5>
    <%= queryResult[k].id %>
  </h5>
  <div class="versions">
    <div class="version0">
      <%- queryResult[k].version0 %>
    </div>
  </div>

</li>