<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Boogaloo|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="ace.css">
  <title>Dash - Welcome</title>
</head>

<body>


  <section>
    <div id="logo">
      <a href="/dash">Dash</a>
    </div>
    <div class="navigation">
      <li> <a href="#">Learn more</a></li>
      <li> <a href="#">Free trial</a></li>
      <li> <a href="#">Pricing</a></li>
    </div>
    <img class="main-img" src="mountains.jpg" alt="">
  </section>

  <%- include ../views/components/ace  %>

  <div class="bar-border">
    <div class=" bar bar-left">

    </div>
    <div class=" bar bar-right">

    </div>
    <div class="bar bar-top">

    </div>
    <div class="bar bar-bottom">

    </div>
  </div>



</body>
<script type="text/javascript" src="main.js"></script>

</html>